<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Executive Summary</a></li>
	        	<li><a href="/on_track">On Track to a Secure Retirement?</a></li>
        		<li><a href="/benefit">Start Early, Benefit More!</a></li>
        		<li><a href="/your_ret_income">What if</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        
        {{ content }}
          
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li>Footer</li>
			</ul>
		</footer>
	</body>
</html>
